ion-toolbar {
    --background: #222;
}

ion-icon {
    color: white;
}


#inputs {
    padding-top: 15vh;
}

ion-input {
    width: 80%;
    height: 45px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    margin: 10%;
    color: white;
}

ion-button {
    width: 70%;
    margin: 15%;
    --background: #00a2ff;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#footer {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color:white;
}


@media (prefers-color-scheme: light) {
    ion-input {
        border-bottom: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
    
    ion-button {
        --background: #00a2ff;
        color: rgb(255, 255, 255);
    }
    
    h2 {
        color:rgb(0, 0, 0);
    }


}
