<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title *ngIf="service.usuarioLoggeado.rol=='admin'">
            Registrar Transición
        </ion-title>

        <ion-title *ngIf="service.usuarioLoggeado.rol=='conductor'">
            Mis Transiciones
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <ion-button (click)="barcodeScanner()">Scan My Code</ion-button>

        <ul *ngIf="scannedOutput!=''">

            <li>Nombre del conductor: {{scannedOutput.conductor}}</li>
            <li>Marca del vehiculo: {{scannedOutput.marca}}</li>
            <li>Modelo del vehiculo: {{scannedOutput.modelo}}</li>
            <li>Placa del vehiculo: {{scannedOutput.placa}}</li>
            <li>Color del vehiculo: {{scannedOutput.color}}</li>

        </ul>
    </div>

    <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-input placeholder="Fecha" value="{{ date | date: 'dd MMM yyyy, HH:mm' }}" id="date" class="ion-text-end"></ion-input>
        <ion-popover trigger="date" size="cover">
            <ng-template>
                <ion-datetime presentation="time-date" [(ngModel)]="date" locale="sl-SI"></ion-datetime>
            </ng-template>
        </ion-popover>
    </ion-item>

    <div>
        <ion-label>Transición</ion-label>
        <ion-input placeholder="Entrada / Salida" [(ngModel)]="transicion"></ion-input>
    </div>

    <ion-button (click)="saveDate()">SAVE DATE</ion-button>

</ion-content> -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="service.usuarioLoggeado.rol=='admin'">Registrar Transición</ion-title>
    <ion-title *ngIf="service.usuarioLoggeado.rol=='conductor'">Mis Transiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center" *ngIf="service.usuarioLoggeado.rol=='admin'">
  <div id="container">
    <ion-icon name="qr-code-outline" class="scan-icon" (click)="barcodeScanner()"></ion-icon>
    <ion-card class="scanned-card" *ngIf="scannedOutput != ''">
      <ion-card-content>
        <ul class="scanned-info">
          <li><strong>ID del conductor:</strong> {{scannedOutput._id}} </li>
          <li><strong>Nombre del conductor:</strong> {{scannedOutput.nombre}} {{scannedOutput.apellidos}}</li>
          <li><strong>Email del conductor:</strong> {{scannedOutput.email}}</li>
          <li><strong>ID del vehiculo:</strong> {{scannedOutput.id_vehiculo}}</li>
          <li><strong>Datos del vehículo:</strong>
              <p>{{scannedOutput.vehiculo_marca}} {{scannedOutput.vehiculo_modelo}} {{scannedOutput.vehiculo_anio}}</p> 
              <p>{{scannedOutput.vehiculo_color}} {{scannedOutput.vehiculo_placas}}</p>
          </li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>  

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-input placeholder="Fecha" value="{{ date | date: 'dd MMM yyyy, HH:mm' }}" id="date" class="ion-text-end"></ion-input>
    <ion-popover trigger="date" size="cover">
      <ng-template>
        <ion-datetime presentation="time-date" [(ngModel)]="date" locale="sl-SI"></ion-datetime>
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-item>
    <ion-label>Transición</ion-label>
    <ion-select [(ngModel)]="transicion">
      <ion-select-option value="Entrada">Entrada</ion-select-option>
      <ion-select-option value="Salida">Salida</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button (click)="saveDate()" expand="full" color="success">Guardar</ion-button>
</ion-content>



<ion-content [fullscreen]="true" class="ion-text-center" *ngIf="service.usuarioLoggeado.rol=='conductor'">

  <ion-list lines="full">
    <ion-item *ngFor="let transicion of transiciones" style="width: 100%;">
      <ion-card class="custom-card" style="width: 100%;" (click)="expandirDetalles(transicion)">
        <ion-card-content class="ion-text-center" style="position: relative;">
          <ion-card-subtitle>{{ transicion.fecha }}</ion-card-subtitle>
          <ion-card-title>{{ transicion.transicion }}</ion-card-title>
          <ion-icon [name]="transicion.transicion === 'Entrada' ? 'log-in-outline' : 'log-out-outline'" 
          [ngStyle]="{'color': transicion.transicion === 'Entrada' ? 'green' : 'red', 'font-size': '2rem', 'margin-top': '10px'}">
</ion-icon>
          <!-- <img [src]="transicion.imagen" alt="Imagen de transición" style="max-width: 100%; height: auto; margin-top: 10px;"> Imagen relacionada -->
          <div class="detalles" [style.display]="transicion.expandido ? 'block' : 'none'">
            <!-- Detalles adicionales aquí -->
            <p>{{ transicion.conductorId }}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  

  <script>
    function expandirDetalles(card) {
      console.log("conductorId:")
      const detalles = card.querySelector('.detalles');
      detalles.style.display = detalles.style.display === 'none' ? 'block' : 'none';
    }

    function realizarAccion(button) {
      console.log('realiza')
      // Lógica para la acción
      console.log('Acción realizada');
    }
  </script>

</ion-content>







    <!-- <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime
        displayFormat="DD MMM YYYY, HH:mm"
        [(ngModel)]="date"
        locale="es"
        class="ion-text-end"
      ></ion-datetime>
    </ion-item> -->