<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            QRInOut
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>Bienvenido {{usuarioService.usuarioLoggeado.nombre}}</h1>

    <div *ngIf="usuarioService.usuarioLoggeado.rol=='conductor'">
        <h2>Eres un conductor</h2>
        <ion-header>
            <ion-toolbar color="primary">
              <ion-title>Tu código QR</ion-title>
            </ion-toolbar>
          </ion-header>
          
            <div class="qr-container ion-text-center">
              <!-- Coloca aquí el código QR generado para el usuario -->
              <img class="qr-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Codigo_QR.svg/2048px-Codigo_QR.svg.png" alt="Código QR del usuario">
            </div>
          
    </div>

    <div *ngIf="usuarioService.usuarioLoggeado.rol=='admin'">
        <h2>Eres un admin</h2>

      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Administrar Empleados</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-list lines="full">
        <ion-item *ngFor="let empleado of empleados">
          <ion-label>
            <h2>{{ empleado.nombre }}</h2>
            <small>ID: {{ empleado._id }}</small>
            <h3>Vehículo: {{ empleado.id_vehiculo }}</h3>
            <small>{{empleado.vehiculo_marca}} {{empleado.vehiculo_modelo}} {{empleado.vehiculo_anio}}</small>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="editarEmpleado(empleado)">Editar</ion-button>
            <ion-button color="danger" (click)="confirmarEliminar(empleado)">Eliminar</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      
      
      

        <div class="edit-form" *ngIf="isEditing">
          <!-- Formulario de edición -->
          <ion-card>
            <ion-card-content>
              <ion-item>
                <ion-label>Nombre:</ion-label>
                <ion-input [(ngModel)]="empleadoEnEdicion.nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Vehículo:</ion-label>
                <ion-select [(ngModel)]="empleadoEnEdicion.vehiculo">
                  <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo">
                    {{ vehiculo }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-card-content>
            <ion-button (click)="guardarCambios()">Guardar Cambios</ion-button>
          </ion-card>
        </div>



    </div>

</ion-content>